body {
    background-color: #325288;
}
input {
    background-color: #FAEEE7;
    color: #325288;
    font-size: 20px;
}
button {
    background-color: #FAEEE7;
    color: #325288;
    font-size: 20px;
}
.no-decoration-text {
    text-decoration: none;
}
.color-light {
    color: #FAEEE7;
}
.color-dark {
    color: #325288;
}
.large {
    font-size: 20px;
}
.bold {
    font-weight: bold;
}
.small-caps {
    font-variant: small-caps;
}
.red {
    color: red;
}
.color-done {
    color: #24A19C;
}
.color-not-done {
    color: #D96098;
}
.pointer {
    cursor: pointer;
}

.search-field {
    margin: 10px 5px 10px 5px;
}
.to-do-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 10px 10px;
}
.margin-top-bottom {
    margin: 15px 0px 15px 0px;
}

.to-do-item-not-done {
    padding: 5px;
    border: 3px #D96098 solid;
    border-radius: 5%;
    gap: 10px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}
.to-do-item-done {
    padding: 5px;
    border: 3px #24A19C solid;
    border-radius: 5%;
    gap: 10px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}
.image-edit-pen {
    height: 20px;
    opacity: 60%;
    cursor: pointer;
}